<nav class="nav justify-content-center">
    <a class="nav-link active" href="<%='/login'%>">Home</a>
    <a class="nav-link" href="#">About</a>
    <a class="nav-link disabled" href="#">help</a>
  </nav>